## * Create DataFrame

In [249]:
import pandas as pd
import numpy as np
data = np.random.rand(2,2)  # create 2*2 marix as uniform(0,1)
data = np.random.randn(2,2) # create 2*2 matrix as normal(0,1)
df1 = pd.DataFrame((np.random.randn(5,6)*10).astype(int))
df2 = pd.DataFrame.copy(df1)
print id(df1), id(df2)
df2.index = list('23456')
df2.columns = list('ABCDEF')
# display(df1,df2)
df3 = pd.Series(list(np.random.randn(5,1)))
df4 = pd.Series(list(np.random.randn(5,1)))
a = [np.random.choice([True,False]) for i in range(5)]
print a
df5 = pd.Series(a)
df5.mean()
a = [1,2]
print type(df2)
print isinstance(df3,pd.DataFrame)

4498826896 4498039888
[True, False, True, False, True]
<class 'pandas.core.frame.DataFrame'>
False

In [250]:
from pandas import DataFrame, Series
import numpy




countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
             'Netherlands', 'Germany', 'Switzerland', 'Belarus',
             'Austria', 'France', 'Poland', 'China', 'Korea', 
             'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
             'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
             'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]

olympic_medal_counts = {'country_name':Series(countries),
                        'gold': Series(gold),
                        'silver': Series(silver),
                        'bronze': Series(bronze)}

medal = numpy.array([gold,silver,bronze])
# .dot matrix multiply
score = numpy.dot([4,2,1],medal)
# df = DataFrame({'gold':gold,'silver':silver,'bronze':bronze})
# print numpy.dot(df[['gold','silver','bronze']],[4,2,1])
# print df['points'] = df[['gold','silver','bronze']].dot([4, 2, 1]) 
olympic_points_df = DataFrame({'country_name':countries, 'points': list(score)})
# print score
# olympic_points_df = DataFrame({'country_name':countries, 'points': list(score)})

In [251]:
d = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                 'Lions', 'Lions'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12],
        'goals': [55,44,87,30,39,9,101,15],
        'reward':[True, False, False, True, False, True, False, False]}
# create by dict, the columns order is unorderred
df = pd.DataFrame(d)
df = df[['year','team','reward','goals','wins','losses']]

## * basics for multi-axis indexing

### 1. subset and selection in Numpy and slice
y = np.arange(20) y.shape = (5,4)

    * select element: y[2,2], y[1,-1]
    * select rows: y[1], y[1:2], y[1:4:2]
    * select columns: y[:,1], y[:,2:3]
    * select by non-select: select all except row 2: y[[0,2,3,4]]
    * select by non-select: sleect all columns except column 3: y[:,[0,1,3,4]]
    * y is 5*4 array y[a=[],b=[]], y[a=[]],y[:,b=[]] are len(a)*len(b), len(a)*4, 5*len(b) arraies

In [252]:
x, y = np.arange(10,0,-1), np.arange(30)
y.shape = (6,5)
# print  "x is \n%s \n y is \n%s" %(x,y)
if False:
    print y[1,1]
    print y[1][1]
    print y[1,-1]
    print y[0]
    print x[:7:3]
    print '\n'
    print x[np.array([1,2,0])]
    print x[np.array([[1,1],[2,3]])]
    print y[np.array([0,2,4]), np.array([0,1,2])]
    print '\n'
    print y[1:4:2,::3]
    print y[[1,3]]
    print y[1:4:2]
    print y[:,4]
    print y[np.array([0,2,3]),1:3]
    print '\n'
    print x[np.array([1, 1, 3, 1])]
    x[np.array([1, 1, 3, 1])] += 1
    print x

#### Test
    1 select rows given wins > 10
    2 select team given wins > 10 and lossed < 8
    3 select team, year given wins > 10 or lossed < 6
    4 select wins and losses mean
    5 select 2nd rows
    6 select all rows with no 2nd rows
    7 select last 2 columns
    8 select all colomns with no first 2 columns
    9 select all columns with no 'wins' and 'losses' columns

In [253]:
if False:
    print df.dtypes
    print ""
    print df.describe()
    print ""
    print df.head()
    print ""
    print df.tail()
    print ""
    print df[(df.wins > 10) & (df.team == "Packers")]
    print ""
    print df['team'][df['wins']>10]
    print ""
    print df.loc[df['wins']>10,'team']
    print ""
    print df.loc[[0]]
    print ""
    print df[['wins','losses']].apply(np.mean)
    print ""
    print df['wins'].map(lambda x : x >5) # single column level
    print ""
    print df.applymap(lambda x: x >5) # dataframe level
    print ""
    print df.iloc[:,1:]
    print df.index

### 2. [ ] and . index
#### [] index
    * [] index is for columns label only. label are DataFrame.columns
    * select column: df['years']
    * select column: df[['wins','losses']]
    * change columns order: df = df[['losses','year','team','reward','goals','wins']]
    * switch columns exchange wins and losses: df[['wins','losses']] = df[['losses','wins']]
    * slice in []: only for rows:  df[::-1] not for columns
#### . index
    * . index is for columns only as well but since it has restrains (as below), we could say it only works if index/columns are not valid identifier, e.g. df.1 is not allowed (https://docs.python.org/2.7/reference/lexical_analysis.html#grammar-token-digit)
    * The attribute will not be available if it conflicts with an existing method name, e.g. s.min is not allowed.Similarly, the attribute will not be available if it conflicts with any of the following list: index, major_axis, minor_axis, items, labels.
    * In any of these cases, standard indexing will still work, e.g. s['1'], s['min'], and s['index'] will access the corresponding element or column.

In [299]:
display(df)
# switch COLUMNs: A <= B and B <= A
df[['wins','losses']] = df[['losses','wins']]
df.loc[:,['wins','losses']] = df[['losses','wins']].values
# wrong: This will not modify df because the column alignment is before value assignment.
df.loc[:,['wins','losses']] = df[['losses','wins']]

# .
if True:
    dft = df.copy()
    dft.columns = [0,1,2,3,4,5]
    print dft[2:5]
#     dft[2:5, 1:2] wrong!! error cause slice in [] not for column only for rows
    
    
if False:
    print df.team
    df.testA = 1 # can't assign new column
    df['test'] = 2
    print df

   year     team  reward  goals  wins  losses
0  2010    Bears    True     55    11       5
1  2011    Bears   False     44     8       8
2  2012    Bears   False     87    10       6
3  2011  Packers    True     30    15       1
4  2012  Packers   False     39    11       5
5  2010    Lions    True      9     6      10
6  2011    Lions   False    101    10       6
7  2012    Lions   False     15     4      12

      0        1      2   3   4  5
2  2012    Bears  False  87  10  6
3  2011  Packers   True  30  15  1
4  2012  Packers  False  39  11  5

### 3. loc  selection by label, iloc selection by position
#### use loc as same as numpy index but only the labels of index or columns in the brackets
    * select row, column:  dfL["0"],  dfL[:,"year"]
    * select rows, columns: dfL['1':'3', "year":] or dfL.loc[['1','3'], ['year','wins']]
#### use iloc as same as numpy index but only the position of index or columns in the brackets (position means 0,1,2....  0,1,2.... for columns and rows)
    * select row, column: dfL[0],  dfL[:,0]
    * select rows, columns: dfL[1:3, 1:] or dfL.loc[[1,3], [0,5]]
    * iloc can't take boolean indexing dataframe or series, but list is OK (check below)

In [255]:
dfL = df.copy()
dfL.index = list('01234567')
display(dfL)

   year     team  reward  goals  wins  losses
0  2010    Bears    True     55    11       5
1  2011    Bears   False     44     8       8
2  2012    Bears   False     87    10       6
3  2011  Packers    True     30    15       1
4  2012  Packers   False     39    11       5
5  2010    Lions    True      9     6      10
6  2011    Lions   False    101    10       6
7  2012    Lions   False     15     4      12

In [256]:
if False:
    print dfL.loc[:,'year':].values
    print dfL.loc['1'].values
    print dfL.loc[['1','3'], ['year','wins']]
    print dfL.loc[dfL["wins"]>12,:]
    print dfL.loc[:,dfL.loc["1"]> 10]

if False:
    print dfL.iloc[:1]
    print dfL.iloc[0]
    # print dfL.iloc[dfL.iloc[:,4]>10,:] wrong iloc only take position not boolean
    print dfL.loc[dfL.iloc[:,4]>10,:]
    a = dfL.iloc[:,5]>10
    print (dfL.iloc[:,5]>10).values
    print dfL.loc[dfL.iloc[:,5]>10,'year']
#     print dfL.iloc[dfL.iloc[:,5]>10,0] wrong
    print dfL.iloc[a.values,0]

## * Subset and Filter
### 1 basic filter
#### filter on rows
* {"&" : "and", "|" : "or", "==" : "equal", "~" : "not"}
* it cover two parts: condition and selections (set of column to select)
    * condition: (select col1 with cond1) & or | (select col2 with cond2).....,  output of condition is a boolean series, let's call it conds. [ ] and .loc can take series, but iloc can't. e.g.: a = df['wins'] > 10,df[a], df.loc[a] are OK  df.iloc[a] cause error.  you need to convert series to list:  df.iloc[a.values]
    * selections: list of columns name or positions, let's call it cols
* ways to get conds (. or [ ] is recommanded)
    * As we are select columns, the cleaner way is to use ., as . has restrains we use [] as omni method. we could use .loc or .iloc but you have to add ":," to select columns e.g. df.loc[:,'year'] df.iloc[:,1].  df.year, df['year'] are simpler
* ways to filter: (.loc recommended)
    * df[conds]: [] only for select all columns
    * df[cols][conds]: cols here is the subset of df.columns
    * df.loc[conds, cols]: cols is the subset of df.columns
    * df.iloc[conds.values, cols]: cols here is the subset of df columns positions

##### Test: select year and team given {goals < 50 and wins > 10}   or {goals < 50 or wins > 100}
    * use loc and iloc
    * don't use loc or iloc
    * use 4 ways to get the condition

In [257]:
dff = df.copy()
dff.index = list('abcdefgh')
display(dff)

# select year and team given goals < 50 and wins > 10/ or wins > 100

if False:
    print dff.loc[(dff['goals']<50) & (dff['wins'] > 10),['year','team']]
    # print dff[(dff['goals']<50) & (dff['wins'] > 10),['year','team']]
    print dff.loc[(dff.goals<50) & (dff.wins > 10),['year','team']]
    print dff[['year','team']][(dff['goals']<50) & (dff['wins'] > 10)]
    print dff.loc[(dff.goals<50) | (dff.wins> 100), ['year','team']]
    print dff.iloc[((dff.goals<50) | (dff.wins> 100)).values, [0,1]]
    print dff.loc[dff.loc[:,'goals']<50,'year']
    print ((dff.goals<50) | (dff.wins> 100))
    print ((dff.goals<50) | (dff.wins> 100)).values

   year     team  reward  goals  wins  losses
a  2010    Bears    True     55    11       5
b  2011    Bears   False     44     8       8
c  2012    Bears   False     87    10       6
d  2011  Packers    True     30    15       1
e  2012  Packers   False     39    11       5
f  2010    Lions    True      9     6      10
g  2011    Lions   False    101    10       6
h  2012    Lions   False     15     4      12

### 2 Filter Selection by Callable

In [259]:
display(dff)
dff['rank'] = dff['wins']
dff['rank'].map(lambda x: 'good' if x > 10 else 'not good')
dff[(dff['team'].map(lambda x: x.startswith('P'))) & ~(dff.year == 2011)]

   year     team  reward  goals  wins  losses  rank
a  2010    Bears    True     55    11       5    11
b  2011    Bears   False     44     8       8     8
c  2012    Bears   False     87    10       6    10
d  2011  Packers    True     30    15       1    15
e  2012  Packers   False     39    11       5    11
f  2010    Lions    True      9     6      10     6
g  2011    Lions   False    101    10       6    10
h  2012    Lions   False     15     4      12     4

   year     team  reward  goals  wins  losses  rank
e  2012  Packers   False     39    11       5    11

### 3 where() method

* where(cond, other .....)
    * cond: boolean (NDFrame, array-like, or callable)
    * other: set the value to those when cond = False

e.g. dt = dff.copy(), dt[['wins','losses']].where(dt.year==2012, 0) set 0 to wins and losses if year = 2012

In [298]:
dt=dff.copy()
# dt['wins':'rank'].where(dt.year == 2011, np.NaN)
# print dt
# print dt[['wins','losses']]
print dt[['wins','losses']].where(dt.year < 2011, 0)
print dt[['wins','losses']].where(dt.year > 2011, dt.goals,axis='index')
print dt['goals'].where(lambda x: x <80, lambda x: x + 100 )

   wins  losses
a    11       5
b     0       0
c     0       0
d     0       0
e     0       0
f     6      10
g     0       0
h     0       0
   wins  losses
a    55      55
b    44      44
c    10       6
d    30      30
e    11       5
f     9       9
g   101     101
h     4      12
a     55
b     44
c    187
d     30
e     39
f      9
g    201
h     15
Name: goals, dtype: int64